.fui-SheetOverlay {
  position: fixed;
  inset: 0;
  min-height: 100dvh;
  background: rgba(0, 0, 0, 0.4);
  user-select: none;
  opacity: calc(1 - var(--drawer-swipe-progress, 0));
  transition: opacity 450ms cubic-bezier(0.32, 0.72, 0, 1);
}
.fui-SheetOverlay[data-starting-style],
.fui-SheetOverlay[data-ending-style] {
  opacity: 0;
}
.fui-SheetOverlay[data-swiping] {
  transition-duration: 0ms;
}
.fui-SheetOverlay[data-ending-style] {
  pointer-events: none;
  transition-duration: calc(var(--drawer-swipe-strength, 1) * 400ms);
}

.fui-SheetViewport {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.fui-SheetContent {
  --sheet-content-padding: 20px;
  --inset-padding: var(--sheet-content-padding);
  --sheet-border-color: var(--gray-alpha-100);

  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-height: calc(100% - 48px);
  display: flex;
  flex-direction: column;
  height: auto;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border: 1px solid var(--sheet-border-color);
  background-color: var(--color-panel-solid);
  user-select: none;
  will-change: transform;
  transform: translateY(var(--drawer-swipe-movement-y, 0px));
  transition: transform 450ms cubic-bezier(0.32, 0.72, 0, 1);
}
.fui-SheetContent[data-starting-style],
.fui-SheetContent[data-ending-style] {
  transform: translateY(calc(100% + 1px));
}
.fui-SheetContent[data-swiping] {
  transition-duration: 0ms;
}
.fui-SheetContent[data-ending-style] {
  transition-duration: calc(var(--drawer-swipe-strength, 1) * 400ms);
}

.fui-SheetContent,
.fui-SheetContent:focus,
.fui-SheetContent:focus-visible {
  outline: none;
}
.fui-SheetBody {
  padding: var(--inset-padding);
}
.fui-SheetContentHandle {
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 12px;
  height: 5px;
  width: 40px;
  border-radius: 999px;
  background-color: var(--gray-alpha-200);
  user-select: none;
  pointer-events: none;
}

.fui-SheetHeader {
  display: grid;
  padding: 0 var(--inset-padding) var(--inset-padding) var(--inset-padding);
  gap: 12px;
}

.fui-SheetContentHandle,
.fui-SheetHeader,
.fui-SheetBody {
  min-height: 0;
}
.fui-SheetContentHandle,
.fui-SheetHeader {
  flex-shrink: 0;
}
.fui-SheetBody {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}
